.navbar {
  z-index: 9999;
  position: fixed !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;

  &__hamburger {
   width: 20px;
  }

  &__logo {
      display: flex;
      justify-content: center;
      width: calc(100% - 20px);
  }
}

.logo {
  width: 100px;
}
